<div class="recipe mb-3" [routerLink]="'/list-recipes/' + recipe.id">
  <div class="image">
    <img [src]="recipe.image" [alt]="recipe.name" class="w-100"/>
  </div>
  <div class="label" *ngIf="recipe.label">{{recipe.label}}</div>
  <div class="details" [ngClass]="isOdd ? 'black' : 'white'">
    <div class="gradient"></div>
    <div class="row align-items-center">
      <div class="col-md-9">
        <div class="name" [innerHTML]="recipe.name | highlight: search"></div>
        <div class="price">{{recipe.price}}</div>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/img/icon-feather-heart.png" *ngIf="!isOdd" alt="Heart Icon" class="w-50" />
        <img src="/assets/img/icon-heart-color.png" *ngIf="isOdd" alt="Heart Icon" class="w-50" />
      </div>
    </div>
    <div class="description">{{recipe.description}}</div>
  </div>
</div>
