@font-face {
  font-family: Metropolis-Bold;
  src: url(/assets/fonts/Metropolis/Metropolis-Bold.otf) format("opentype");
}

@font-face {
  font-family: Metropolis-Regular;
  src: url(/assets/fonts/Metropolis/Metropolis-Regular.otf) format("opentype");
}
